- the_list.each do |listing|
  // .list-group-item.my-well.nested-player
  .list-group-item.my-well.nested-player
    = simple_format(displayList(listing, ['created_at', 'updated_at']))

    = render partial: 'shared/interact_options', locals: { interact_item: listing }

// Working 11/17


// Eventually:  https://github.com/Mirv/basicb/issues/101


