.campaigns
  %h2
    Campaign List
  - if campaigns.count > 0
    .list-group
      = render partial: 'shared/list_options/list_item_entry_all', locals: { the_list: campaigns }
  - else
    .list-group
      = "No active campaigns found."
    

  