.button-interact.btn-group.btn-group-xs
  = link_to 'Show', interact_item, :class => "btn btn-xs btn-default"
  = link_to 'Edit', [:edit, interact_item], :class => "btn btn-xs btn-default"
  = link_to 'Destroy', [interact_item], method: :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-xs btn-default"
