.players
  %h2 
    Player List
  - if @players.count > 0
    .list-group
      = render partial: 'shared/list_options/list_item_entry_all', locals: { the_list: @players }

  - else
    %p
      No players signed yet...
      