.row.text
    %input.form-control{:placeholder => ".col-xs-2", :type => "text"}
    %input.form-control{:placeholder => ".col-xs-3", :type => "text"}
    %input.form-control{:placeholder => ".col-xs-4", :type => "text"}
