/https://codepen.io/yojfementira/pen/gIica

.wrap
  %nav.navbar.navbar-default{:role => "navigation"}
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{ :class => "navbar-toggle collapsed", "data-toggle" => "collapse", :type => "button", "data-target" => "#bs-example-navbar-collapse-1" }
          %span.sr-only Toggle navigation
        %a.navbar-brand{:href => countries_path} Home

      / Collect the nav links, forms, and other content for toggling
      #div.collapse.navbar-collapse{:id => "bs-example-navbar-collapse-1"}
        %ul.nav.navbar-nav
          %li.active
            %a{:href => "#"} Link 
          %li
            %a{:href => "#"} Link
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Dropdown
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li
                %a{:href => "#"} Separated link
              %li.divider
              %li
                %a{:href => "#"} One more separated link
        %form.navbar-form.navbar-left{:role => "search"}
          .form-group
            %input.form-control{:placeholder => "Search", :type => "text"}
          %button.btn.btn-default{:type => "submit"} Submit
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "#"} Link
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Dropdown
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li
                %a{:href => "#"} Separated link
      / /.navbar-collapse
    / /.container-fluid