.wrap
  %nav.navbar.navbar-default{:role => "navigation"}
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-toggle" => "collapse", :type => "button"}
        %span "Toggle navigation"
        %span.icon-bar 

