// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.my-well{
  margin-left: 40px;
}

.nested-player {
  /*background: #333;*/
  padding: 5px;
  margin-bottom: 3px;
  margin-top: 3px; }